body {
    background-image: url("../../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: 1440px 783px;
}

.btnHome {
    display: flex;
    flex-direction: column;
}

.titleHome {
    transition: ease 0.3s;
}

.titleHome:hover {
    transform: scale(1.05);
}

.btn_classico {
    border: solid rgb(32, 32, 32) 2px;
    border-radius: 15px;
    background-color: #f1f1f1;
}